@import './../../sass/variables';
@import './../../sass/mixins';

.home {
  min-height: 100vh;
  padding: 1rem 2rem;
  width: 100%;
}

.layout {
  @include respond(phone-lg) {
    flex-wrap: wrap;

    &-columns {
      max-width: 50% !important;
      flex-basis: 50% !important;
    }
  }

  @include respond(phone) {
    flex-direction: column;
    &-columns {
      max-width: 100% !important;
      flex-basis: 100% !important;
    }
  }
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    width: 46%;
    margin: 2%;
  }
  &.one-line {
    & > * {
      width: 100%;
      margin-bottom: 0.2rem;
    }
  }
}
