@import './../../sass/variables';
@import './../../sass/mixins';

.home {
  min-height: 100vh;
  padding: 1rem 2rem;
  width: 100%;
}

.layout {
  @include respond(tab-land) {
    flex-wrap: wrap;

    &-columns {
      max-width: 50% !important;
      flex-basis: 50% !important;
      height: 100%;

      & .overview {
        & > * {
          width: 50%;
        }
      }
    }
  }

  @include respond(phone) {
    &-columns {
      max-width: 100% !important;
      flex-basis: 100% !important;
      height: 100%;

      & .overview {
        & > * {
          width: 100%;
        }
      }
    }
  }

  &-columns {
    overflow-y: auto;
    width: 100%;
    &.modal-body {
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .item {
    width: 25%;

    .container {
      display: flex;

      .smallcompanycard-text {
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-layout {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    width: 46%;
    margin: 2%;
  }
  &.one-line {
    & > * {
      width: 100%;
      margin-bottom: 0.2rem;
    }
  }
}

.boards-container {
  width: 100%;
  min-width: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
