@import './../../../sass/variables';
@import './../../../sass/mixins';

.overview {
  display: flex;
  flex-wrap: wrap;

  &-title {
    text-transform: uppercase;
    font-size: 0.95rem;
  }

  & > * {
    width: 20%;
    padding: 0.7rem;
  }
  & .companycard {
    margin-bottom: 0.3rem;
  }
}
