@import './../../../sass/variables';
@import './../../../sass/mixins';

.simplecard {
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
  // margin-bottom: 1rem;

  &-height {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-small-text {
    &-1 {
      font-size: 0.8rem;
    }
    &-2 {
      font-size: 0.7rem;
    }
  }

  &-title-text {
    font-size: 0.8rem;
    font-weight: 600;
  }

  &-expansion-panel-icon {
    padding: 6px;
  }
}

.simplecard-modal,
.companycard-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  & .card {
    width: 100%;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 40rem;

    background-color: white;
    padding: 1rem;

    border-radius: 15px;

    & > * {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.danger {
  color: $color-error;
}

.smallcompanycard {
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.5rem;

  transition: padding 0.3s, margin 0.3s;

  &.selected {
    margin-left: 2rem;
  }
}

.companycard {
  & .title {
    text-align: center;
  }
  text-align: left;

  & .success {
    color: white;
    background-color: #4caf50;
  }
}
