@import './../../../sass/variables';
@import './../../../sass/mixins';

.simplecard {
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
  margin-bottom: 1rem;
}

.simplecard-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  & .card {
    width: 100%;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 40rem;

    background-color: white;
    padding: 1rem;

    border-radius: 15px;

    & > * {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.danger {
  background: $background-danger-gradient;
}
